
<body>
<div class="text-center">
  <h1>Add New Student</h1>
</div>
<!-- <div class="container">
  <form action="/action_page.php">
  First name: <input class= "margin" type="text" name="fname"><br>
  Last name: <input class="margin" type="text" name="lname"><br>
  Birthday: <input class="margin" type="text" name="bname"><br>
</form>
</div> -->
<div class="form-group row container center-block">
  <label for="example-text-input" class="col-2 col-form-label">First Name:</label>
  <div class="col-10">
    <input class="form-control center-block" type="text"  id="example-text-input">
  </div>
</div>
<div class="form-group row container center-block">
  <label for="example-search-input" class="col-2 col-form-label">Last Name:</label>
  <div class="col-10">
    <input class="form-control" type="search" id="example-search-input">
  </div>
</div>
<div class="form-group row container center-block">
  <label for="example-email-input" class="col-2 col-form-label">Birthday:</label>
  <div class="col-10">
    <input class="form-control" type="email" id="example-email-input">
  </div>
</div>
<div class="form-group row container center-block">
  <label for="example-url-input" class="col-2 col-form-label">Race/Ethnicity:</label>
  <div class="col-10">
    <input class="form-control" type="url" value="select" id="example-url-input">
  </div>
</div>
<div class="form-group row container center-block">
  <label for="example-tel-input" class="col-2 col-form-label">Primary Qualifying Disability:</label>
  <div class="col-10">
    <input class="form-control" type="tel" value="select" id="example-tel-input">
  </div>
</div>
<div class="form-group row container center-block">
  <label for="example-password-input" class="col-2 col-form-label">Secondary Qualifying Disability:</label>
  <div class="col-10">
    <input class="form-control"  value="select" id="example-password-input">
  </div>
</div>
<div class="form-group row container center-block">
  <label for="example-number-input" class="col-2 col-form-label">Gender:</label>
  <div class="col-10">
    <input class="form-control" type="number" value="select" id="example-number-input">
  </div>
</div>
<div class="form-group row container center-block">
  <label for="example-datetime-local-input" class="col-2 col-form-label">Year Of Joining:</label>
  <div class="col-10">
    <input class="form-control" type="datetime-local" value="example: 2011" id="example-datetime-local-input">
  </div>
</div>
<div class="form-group row container center-block">
  <label for="example-date-input" class="col-2 col-form-label">Current Grade:</label>
  <div class="col-10">
    <input class="form-control" type="date" value="select" id="example-date-input">
  </div>
</div>
<div class="form-group row container center-block">
  <label for="example-month-input" class="col-2 col-form-label">Current Student:</label>
  <div class="col-10">
    <label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>
  </div>
</div>
<div class="form-group row container center-block">
  <label for="example-week-input" class="col-2 col-form-label">School District:</label>
  <div class="col-10">
    <input class="form-control" type="week" value="select" id="example-week-input">
  </div>
</div>

</div>
<div class="row">
<div class="col-sm-2">
    <div class="text-center margin">
      <button class="btn btn-primary" id="singlebutton"> Submit </button>
    </div>
  </div>
<div class="col-sm-2">
    <div class="text-center margin">
      <button class="btn btn-primary" id="singlebutton"> Cancel</button>
    </div>
  </div>
</div>
</body>
</html>
