<body>
<div class="text-center">
  <h1>Add IEP Info</h1>
  <h4>IEP for John Smith, Grade 8</h4>
</div>
<div class="form-group row container center-block">
  <label for="example-datetime-local-input" class="col-2 col-form-label">IEP Assesment Date:</label>
  <div class="col-10">
    <input class="form-control" type="datetime-local" value="example: 2011" id="example-datetime-local-input">
  </div>
</div>
<div class="form-group row container center-block">
  <label for="example-datetime-local-input" class="col-2 col-form-label">Reason for IEP:</label>
  <div class="col-10">
    <input class="form-control" type="datetime-local" value="example: 2011" id="example-datetime-local-input">
  </div>
</div>
<div class="container">
  <p>Woodcock Johnson Scores: </p>
  <div class="form-group row">
  <div class="col-xs-3">
    <label for="ex1">Broad Reading:</label>
    <input class="form-control" id="ex1" type="text">
  </div>
  <div class="col-xs-3">
    <label for="ex2">Broad Math:</label>
    <input class="form-control" id="ex2" type="text">
  </div>
  <div class="col-xs-3">
    <label for="ex3">Broad Writing:</label>
    <input class="form-control" id="ex3" type="text">
  </div>
</div>
</div>
<div class="container">
  <p>Goals</p>
  <div class="form-group row center-block">
    <label for="example-datetime-local-input" class="col-2 col-form-label">Goal1:</label>
    <div class="col-10">
      <input class="form-control" type="datetime-local" value="example: 2011" id="example-datetime-local-input">
    </div>
  </div>
  <div class="form-group row center-block">
    <label for="example-datetime-local-input" class="col-2 col-form-label">Goal Type:</label>
    <div class="col-10">
      <input class="form-control" type="datetime-local" value="example: 2011" id="example-datetime-local-input">
    </div>
    <div class="form-group row">
      <div class="col-xs-2">
        <label for="ex3">GoalScore:</label>
        <input class="form-control" id="ex3" type="text">
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <form action="/action_page.php">
  First name: <input class= "margin" type="text" name="fname"><br>
  Last name: <input class="margin" type="text" name="lname"><br>
  Birthday: <input class="margin" type="text" name="bname"><br>
</form>
</div> -->

<div class="col-sm-2">
  <div class="text-center margin">
    <button class="btn btn-primary" id="singlebutton"> Submit</button>
  </div>
</div>
</div>
</body>
