
<div class="text-center">
	<h1>The Phillips Academy IEP System</h1>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="text-center margin">
      <button class="btn btn-primary" onclick="location.href='http://localhost:3000/addnewstudent'" id="singlebutton"> Add New Student</button>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="text-center margin">
      <button class="btn btn-primary" onclick="location.href='http://localhost:3000/IEPinfo'" id="singlebutton"> Add IEP infor</button>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="text-center margin">
      <button class="btn btn-primary" id="singlebutton"> View Student Record</button>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="text-center margin">
      <button class="btn btn-primary" id="singlebutton"> View Report</button>
    </div>
  </div>
</div>
